<!DOCTYPE html>
  <html>
    <head>
      
    </head>
    
    <body>
      
      <h1>Bowling Alley Connection</h1>
      
      <h2>We pride ourselves on connecting with others while bowling!</h2>
      
      
      
    </body>
  </html>